.overview-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(10, 10, 35, 0.5); /* Semi-transparent background */
  color: white;
  height: 80vh; /* Full viewport height */
}

.introduction {
  max-width: 600px;
  text-align: center;
}

h1 {
  font-size: 3em;
  font-weight: bold;
}

h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
}