<div class="overview-container" [@fadeIn]="inView ? 'in' : 'out'">
  <div class="profile">
    <img src="assets/my-photo.jpeg" alt="Profile Picture" class="profile-pic" />
    <div class="buttons">
      <a href="src/assets/Ashbir-Singh-Dhiman.pdf" download class="btn resume">
        <i class="fas fa-download"></i> Resume
      </a>
      <a
        href="https://www.linkedin.com/in/ashbir-dhiman/"
        target="_blank"
        class="btn linkedin"
      >
        <i class="fab fa-linkedin"></i> LinkedIn
      </a>
      <a
        href="https://github.com/ashbirdhiman"
        target="_blank"
        class="btn github"
      >
        <i class="fab fa-github"></i> GitHub
      </a>
    </div>
  </div>
  <div class="introduction">
    <h2 class="text-item">Introduction</h2>
    <h1 class="text-item">Overview.</h1>
    <ul>
      <li class="text-item">
        👨‍💻 I'm a Software Engineer with over 3 years of experience in software
        development and cloud technologies.
      </li>
      <li class="text-item">
        💡Postgraduate Student and Forward-thinking Software Engineer with a
        strong background in cloud computing and full-stack development.
      </li>
      <li class="text-item">
        💡 AWS Certified Cloud Practitioner with hands-on experience in Java,
        Spring Boot, and CI/CD pipelines.
      </li>
      <li class="text-item">
        💡Skilled in developing scalable software solutions and collaborating in
        Agile environments.
      </li>
      <li class="text-item">💡 I'm always curious and constantly learning.</li>
    </ul>
  </div>
</div>
