<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
/>
<app-navbar></app-navbar>
<!-- Other components or content -->

<div *ngIf="!isThreeSceneLoaded" class="overlay">
  <p>Loading 3D Scene...</p>
</div>

<div class="three-scene-container">
  <app-three-scene (sceneLoaded)="onThreeSceneLoaded($event)"></app-three-scene>
</div>

<div class="content" [class.hidden]="!isThreeSceneLoaded">
  <app-display-name></app-display-name>
  <app-about id="about"></app-about>
  <app-professional-experience id="work"></app-professional-experience>
  <app-projects id="projects"></app-projects>
  <app-education id="education"></app-education>
  <app-contact id="contact"></app-contact>
</div>